// Define grid
main{
  display: grid;
  grid-template-columns: 12fr;
  grid-template-areas: 
    "navigation"
    "wrapper";
}

.home{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: 
    "logo logo logo"
    "timeline timeline timeline"
    ". main .";
}

.post{
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: 
    ". post-header ."
    ". post-content .";
}

.timeline_content{
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
    "timeline_date timeline_content";
  align-items: center;
}

header{
  grid-area: header;
}
.wrapper{
  grid-area: wrapper;
}
.logo{
  grid-area: logo;
}
.timeline{
  grid-area: timeline;
  .content_date{
    grid-area: timeline_date;
  }
  .content_wrapper{
    grid-area: timeline_content
  }
}
.post-header{
  grid-area: post-header;
}
.post-content{
  grid-area: post-content;
}
main{
  grid-area:main;
}
footer{
  grid-area: footer;
}