// Define grid
.home{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: 
    "logo logo logo"
    ". timeline ."
    ". main .";
}

header{
  grid-area: header;
}
.logo{
  grid-area: logo;
}
.timeline{
  grid-area: timeline;
}
main{
  grid-area:main;
}
footer{
  grid-area: footer;
}