$spacing-unit: 1em;
$on-large: 1em;

.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
  color:#fff;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-link {
  display: block;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  letter-spacing: -1px;
  line-height: 1.15;
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

}