@charset "utf-8";

.timeline{
  background-color: $color-black;
  .timeline_wrapper{
    padding: 0;
    list-style: none;
    .timeline_section{
      height: 100vh;
      width: 100%;
      &.sono{
        background-color: #001624;
      }
      &.factory42{
        background-color: #1D1811;
        h3{
          color:#FF9900;
        }
      }
      &.redblue{
        background-color: #8F0000;
      }

      .timeline_content{
        width: 100%;
        height: 100%;
        color:#fff;
        text-decoration: none;
        font-family: 'Playfair Display', serif;

        .content_date{
        width: 60%;
        font-weight: bold;
        font-size: 1rem;
        writing-mode: vertical-lr;
        white-space: nowrap;
        transform: rotate(-180deg);
        }
        .content_wrapper{
          h3{
            font-weight: 900;
            font-size: 2.5rem;
            line-height: initial;
            width: fit-content;
            transition: ease-out 0.3s;
            word-break:break-all;
            &:hover, &:active{
              transform: scale(1.05);
            }
            @media(max-width: $bp-small){
              font-size: 7vw;
            }
            @media(min-width: $bp-large){
              font-size: 3rem;
            }
            @media(min-width: $bp-extra-large){
              font-size: 4rem;
            }

          }
          p{
            font-size:1rem;
            width: fit-content;
            @media(min-width: $bp-extra-large){
              font-size: 1.5rem;
            }
            
          }
        
        }
      }

    }
  }
}

.card{
  background-color: $color-green-forest;
  border-radius: 0.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background-color .45s ease;

  a{
    display: inline-block;
    width: 100%;
    padding: 1em;
    color: #fff;
    text-decoration: none;
    h3{
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      font-size: 42px;
    }
    span{
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: light;
    }
    
  }

  &:hover {
    background: $color-green-darkforest;
    transform: scale(1.02);
  }
}