@charset "utf-8";

.timeline{
  ul{
    border-left: 0.3rem dotted green;
    padding: 1em 0 2em 0;
    list-style: none;
    li{
      margin: 15px;
    }
  }
}

.card{
  background-color: #cdcdcd;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 1em;
}